PORT = 3000

DB_USERNAME = admin
DB_PASSWORD = secret
DB_APP_NAME = ecommerce
DB_HOST = db:27017
DB_APP_NAME = ecom-rmk

KAFKA_BROKER = kafka:9092 # 9092 for docker; 9094 for local; 
KAFKAJS_NO_PARTITIONER_WARNING = 1

REDIS_HOST = redis
REDIS_PORT = 6379
REDIS_CLUSTER_NODES = redis-node-1:6379,redis-node-2:6379,redis-node-3:6379,redis-node-4:6379,redis-node-5:6379,redis-node-6:6379